<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300,400italic,400,700italic,700" />
  <meta charset="utf-8" />
  <title>UCSF Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <link rel="stylesheet" href="css/tweaks.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="js/vendor/modernizr.js"></script>
</head>

<body>
  <!--begin UCSF banner-->
  <div id="ucsf-headers">
    <div id="ucsf-banner-nav" class="bluetint no-logo">
      <div class="top-header-container row">
        <ul class="menu">
          <li class="first"><a href="http://www.ucsf.edu">University of California San Francisco</a></li>
          <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
          <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
        </ul>
      </div>
    </div> 
  </div>
  <!--end UCSF banner-->

  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/" title="UCSF Library"><img src="/images/logo.svg" alt="UCSF Library" /></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="/find">Search &amp; Find</a>
            <ul class="dropdown">
              <li class="divider"><a href="https://ucsf.idm.oclc.org/login?url=http://www.ncbi.nlm.nih.gov/pubmed?tool=cdl&amp;otool=cdlotool">PubMed.ucsf.edu</a></li>
              <li class="divider"><a href="/collections/journals">Journals</a></li>
              <li class="divider"><a href="/db">Databases</a></li>
              <li class="divider"><a href="http://guides.ucsf.edu/">Guides by Topic</a></li>
              <li class="divider"><a href="http://ucsfcat.library.ucsf.edu/">UCSF Library Catalog</a></li>
              <li class="divider"><a href="https://ucsf.idm.oclc.org/login?url=http://ucsf.worldcat.org/">UC-wide Catalog (Melvyl)</a></li>
              <li class="divider"><a href="/collections/reserves">Course Reserves</a></li>
              <li class="divider"><a href="/collections/archives">Archives &amp; Online Collections</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="/use">Use the Library</a>
            <ul class="dropdown">
              <li class="divider"><a href="/services/spaces">Study Spaces</a></li>
              <li class="divider"><a href="/services/computing">Computers, Equipment, Help</a></li>
              <li class="divider"><a href="/services/borrowing">Borrow, Renew, Request</a></li>
              <li class="divider"><a href="/print-scan-copy">Print, Scan, Copy</a></li>
              <li class="divider"><a href="/services/browsertools">Off-Campus Access</a></li>
              <li class="divider"><a href="/visit/parnassus">Parnassus location</a></li>
              <li class="divider"><a href="/visit/missionbay">Mission Bay location</a></li>
              <li class="divider"><a href="/visit/missionhall">Mission Bay Hub location</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="/research">Research Support</a>
            <ul class="dropdown">
              <li class="divider"><a href="/services/scholpub">Open Access &amp; Publishing</a></li>
              <li class="divider"><a href="/help/citemgmt">Citation Management</a></li>
              <li class="divider"><a href="/bioinformatics">Bioinformatics Support</a></li>
              <li class="divider"><a href="http://guides.ucsf.edu/datamgmt">Data Management</a></li>
              <li class="divider"><a href="/help/classes">Classes &amp; Workshops</a></li>
              <li class="divider"><a href="/help/consulting">Meet with an Expert</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="/course">Course Support</a>
            <ul class="dropdown">
              <li class="divider"><a href="https://courses.ucsf.edu/">CLE</a></li>
              <li class="divider"><a href="/help/classes">Classes &amp; Workshops</a></li>
              <li class="divider"><a href="/help/consulting">Meet with an Expert</a></li>
              <li class="divider"><a href="/collections/reserves">Course Reserves</a></li>
              <li class="divider"><a href="/services/learningtech">Learning Technologies</a></li>
              <li class="divider"><a href="/faculty">Support for Faculty</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="clearfix"></div>

  <div class="row extra-info">
    <div class="large-9 medium-8 small-4 columns hours left" id="header-hours">
      <ul class="inline-list">
        <li>
          <a href="/visit/hours">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDQwIDQwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTkuODE2IDQuMDYzYy04Ljc1NSAwLTE1Ljg1MyA3LjEtMTUuODUzIDE1Ljg1NFMxMS4wNiAzNS43NyAxOS44MTYgMzUuNzdjOC43NTUgMCAxNS44NTQtNy4xIDE1Ljg1NC0xNS44NTRTMjguNTcgNC4wNjMgMTkuODE2IDQuMDYzem0wIDI4LjI2Yy02Ljg1MyAwLTEyLjQwNi01LjU1Ni0xMi40MDYtMTIuNDA3IDAtNi44NSA1LjU1NC0xMi40MDUgMTIuNDA2LTEyLjQwNSA2Ljg1NCAwIDEyLjQxIDUuNTU1IDEyLjQxIDEyLjQwNiAwIDYuODUtNS41NTYgMTIuNDA4LTEyLjQxIDEyLjQwOHptMS4yMDYtMjEuMzY3SDE4LjYxdjkuNDZsNS44NjggNS44NjggMS43MDYtMS43MDYtNS4xNi01LjE2LS4wMDItOC40NjJ6Ii8+PC9zdmc+" onerror="this.setAttribute('style', 'display:none')" alt="">
            <span class="show-for-medium-up">&nbsp;More&nbsp;Hours</span>
            <span class="hide-for-medium-up">&nbsp;Hours</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="large-3 medium-4 small-8 columns">
      <ul class="inline-list right">
        <li><a href="/services/spaces">Study Spaces</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <div class="row has-form search-bar">
    <div class="large-12 columns">
      <form class="search-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="search" title="Search terms" class="search-terms" placeholder="Find articles, journals, books and more" autofocus>
          </div>
          <div class="large-4 small-3 columns">
            <input type="submit" class="button postfix" value="Search">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
  <div class="large-3 columns">
    <div class="panel callout radius">
      <h5>Popular Links</h5>
      <ul role="menu" class="side-nav">
        <li role="menuitem" class="arrowbullet"><a href="http://pubmed.ucsf.edu/">PubMed.ucsf.edu</a></li>
        <li role="menuitem" class="arrowbullet"><a href="http://uptodate.ucsf.edu/">UpToDate</a></li>
        <li role="menuitem" class="arrowbullet"><a href="https://ucsf.idm.oclc.org/login?qurl=http://www.crlonline.com/crlsql/servlet/crlonline">Lexi-Comp</a></li>
        <li role="menuitem" class="arrowbullet"><a href="/collections/journals">Online Journals</a></li>
        <li role="menuitem" class="arrowbullet"><a href="/db">Databases</a></li>
        <li role="menuitem" class="arrowbullet"><a href="https://ucsf.idm.oclc.org/login?url=http://uclibs.org/PID/22029">MICROMEDEX</a></li>
      </ul>
    </div>
  </div>

  <div class="large-9 columns">
    <div id="news">
  <div class="slick" id="news-carousel">
    <div class="row collapse outline" id="newsItem_0">
      <a href="{{news 0 'link'}}" id="newsLink_0">
        <div class="medium-6 large-8 columns">
          <img src="{{news 0 'image'}}" class="news-image" width="480" height="270" alt="" id="newsImage_0">
        </div>
        <div class="medium-6 large-4 columns">
          <div class="small-text-center news-text" id="newsTitle_0">{{news 0 'title'}}</div>
          <p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
        </div>
      </a>
    </div>
    <div class="row collapse outline" id="newsItem_1">
      <a href="{{news 1 'link'}}" id="newsLink_1">
        <div class="medium-6 large-8 columns">
          <img src="{{news 1 'image'}}" class="news-image" width="480" height="270" alt="" id="newsImage_1">
        </div>
        <div class="medium-6 large-4 columns">
          <div class="small-text-center news-text" id="newsTitle_1">{{news 1 'title'}}</div>
          <p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
        </div>
      </a>
    </div>
    <div class="row collapse outline" id="newsItem_2">
      <a href="{{news 2 'link'}}" id="newsLink_2">
        <div class="medium-6 large-8 columns">
          <img src="{{news 2 'image'}}" class="news-image" width="480" height="270" alt="" id="newsImage_2">
        </div>
        <div class="medium-6 large-4 columns">
          <div class="small-text-center news-text" id="newsTitle_2">{{news 2 'title'}}</div>
          <p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
        </div>
      </a>
    </div>
    <div class="row collapse outline" id="newsItem_3">
      <a href="{{news 3 'link'}}" id="newsLink_3">
        <div class="medium-6 large-8 columns">
          <img src="{{news 3 'image'}}" class="news-image" width="480" height="270" alt="" id="newsImage_3">
        </div>
        <div class="medium-6 large-4 columns">
          <div class="small-text-center news-text" id="newsTitle_3">{{news 3 'title'}}</div>
          <p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
        </div>
      </a>
    </div>
  </div>
</div>

  </div>
</div>

<div class="row" data-equalizer>
  <div class="large-4 columns">
    <div class="panel radius with-pinned-button" data-equalizer-watch>
      <h5 class="text-center">Upcoming Classes</h5>
      <div class="featured-classes" id="api_upc_cid928_iid138"></div><script type="text/javascript" src="https://api3.libcal.com/api_events.php?iid=138&amp;m=upc&amp;cid=928&amp;c=&amp;d=&amp;l=5&amp;simple=ul_date&amp;format=js"></script>
    </div>
    <div class="bottom text-center">
      <a href="/help/classes" class="button tiny radius shadow">Full Schedule</a>
    </div>
  </div>
  <div id="featured-guide-pane" class="large-4 columns">
    <div class="panel radius with-pinned-button" data-equalizer-watch>
      <h5 class="text-center">Featured Librarian Guide</h5>
      <div id="featured-guide"></div>
    </div>
    <div class="bottom text-center">
      <a href="http://guides.ucsf.edu/" class="button tiny radius shadow">All Guides</a>
    </div>
  </div>
   <div class="large-4 columns">
    <div class="panel radius with-pinned-button" data-equalizer-watch>
      <h5 class="text-center">Student Group Study Rooms</h5>
      <p class="text-center last-image">
        <a href="http://calendars.library.ucsf.edu/booking/parnassus_studyrooms">
          <img src="images/group_study_350x197.jpg" alt="">
        </a>
      </p>
    </div>
    <div class="bottom text-center">
      <a href="http://calendars.library.ucsf.edu/booking/parnassus_studyrooms" class="button tiny radius shadow">Make Reservation</a>
    </div>
  </div>
</div>



  <div class="row">
    <div class="large-12 columns footer">
      <ul class="inline-list">
        <li><a href="/about">About the Library</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li id="feedback-link">Feedback</li>
      </ul>
    </div>
  </div> 

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>

  <!-- If IE9 or less, don't bother injecting content. Hours still accessible via link. -->
  <!--[if !IE]> -->
    <script src="https://apis.ucsf.edu/jsapi?library"></script>
    <script src="/slick/slick.min.js"></script>
    <script>
      $(document).ready( function () {
         var carouselContainer = $('#news-carousel');

        if (carouselContainer.length === 0) {
          return;
        }

        carouselContainer.slick({
          arrows: false,
          autoplay: true,
          dots: true,
          fade: true,
          speed: 3000
        });
      }
    );
    </script>
    <script>  
      var getHours = function () {
        var failure = function () {
        };

        var success = function (result) {
          var sanitizeHours = function (text) {
            return text.replace(/[^\w\s:-]/,'');
          };

          var prependHours = function (id, label, className, url) {
            var hours = locations[id];
            if (hours) {
              var hoursText = sanitizeHours(hours[0].text);
              var a = $('<a>').attr('href', url).append(label + ': ' + hoursText);
              var li = $('<li>').append(a);
              li.addClass(className);
              $('#header-hours ul').prepend(li);
            }
          };

          var renderTableHeader = function (selector, data, property) {
            $(selector)
            .each(function (index) {
              $(this).text(sanitizeHours(data[index][property]));
            });
          };

          var renderTableBody = function (selector, data) {
            $(selector)
            .each(function (index) {
              $(this).attr('data-label', sanitizeHours(data[index].day));
              $(this).text(sanitizeHours(data[index].text));
            });
          }

          var locations = result.locations;
          if (locations) {
            // We always do the header...
            prependHours('missionBayHub', 'MB Hub', 'show-for-large-up', '/visit/missionhall');
            prependHours('missionBay', 'MB Library', 'show-for-large-up', '/visit/missionbay');
            prependHours('parnassus', 'Parnassus', 'show-for-medium-up', '/visit/parnassus');
            $('#header-hours ul').prepend('<li class="show-for-medium-up"><a href="/visit/hours">Today:</a></li>');
            // ...now check to see if we need to do the main body as well.
            if(locations.parnassus && !!$('#library-hours').length) {
              renderTableHeader('.library-hours-date', locations.parnassus, 'date');
              renderTableHeader('.library-hours-day', locations.parnassus, 'day');

              renderTableBody('.library-hours-parnassus', locations.parnassus);
              renderTableBody('.library-hours-missionBay', locations.missionBay);
              renderTableBody('.library-hours-missionBayHub', locations.missionBayHub);
            }
          }
        };

        UCSF.Library.hours({}, success, failure);
      };

      if (window.addEventListener) {
        window.addEventListener('load', getHours, false);
      } else if (window.attachEvent) {
        window.attachEvent('onload', getHours);
      }

      // Hide guides pane in case apis.ucsf.edu is down or IE8 is weird
      var guidePane = document.getElementById('featured-guide-pane');
      if (guidePane) {
        guidePane.setAttribute('style', 'visibility:hidden');
      }

      var getGuides = function () {
        var failure = function () {
        };

        var success = function (result) {
          var guides = result.guides;
          if (guides) {
            var randomGuideIndex = Math.floor(Math.random() * guides.length);
            var randomGuide = guides[randomGuideIndex];
            if (randomGuide) {
              var guides_results = document.getElementById('featured-guide');
              if (guides_results) {
                var textContent;
                if ("textContent" in guides_results) {
                  textContent = "textContent";
                } else {
                  textContent = "innerText";
                }
                var a = document.createElement('a');
                a.href = randomGuide.href;
                a[textContent] = randomGuide.title;
                guides_results.appendChild(a);

                var textNode = document.createTextNode(' - ' + randomGuide.desc);
                guides_results.appendChild(textNode);
              }
            }
          } else {
            failure();
          }
        };

        if (guidePane) {
          UCSF.Library.guides({}, success, failure);
          guidePane.removeAttribute('style');
        }
      }

      if (window.addEventListener) {
        window.addEventListener("load", getGuides, false);
      } else if (window.attachEvent) {
        window.attachEvent("onload", getGuides);
      }
    </script>
  <!-- <![endif]-->

  <script>
    $(document).ready( function () {
      $('.search-form').each(function (index, elem) {
        elem.onsubmit = function (event) {
          event.preventDefault ? event.preventDefault() : event.returnValue = false;
          var terms = this.querySelector('.search-terms').value;
          window.location = 'http://search.library.ucsf.edu/#' + encodeURIComponent(terms);
        }
      });
    });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-552286-26', 'auto');
    ga('send', 'pageview');

    // Now for the roll-up report that generates data that is useful to no one.
    ga('create', 'UA-552286-29', {'name':'b'});
    ga('b.send', 'pageview');
  </script>

  <script>
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0014/1423.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
  <!--BEGIN QUALTRICS SITE INTERCEPT-->
  <script type='text/javascript'>
  (function(){var g=function(e,h,f,g){
  this.get=function(a){for(var a=a+"=",c=document.cookie.split(";"),b=0,e=c.length;b<e;b++){for(var d=c[b];" "==d.charAt(0);)d=d.substring(1,d.length);if(0==d.indexOf(a))return d.substring(a.length,d.length)}return null};
  this.set=function(a,c){var b="",b=new Date;b.setTime(b.getTime()+6048E5);b="; expires="+b.toGMTString();document.cookie=a+"="+c+b+"; path=/; "};
  this.check=function(){var a=this.get(f);if(a)a=a.split(":");else if(100!=e)"v"==h&&(e=Math.random()>=e/100?0:100),a=[h,e,0],this.set(f,a.join(":"));else return!0;var c=a[1];if(100==c)return!0;switch(a[0]){case "v":return!1;case "r":return c=a[2]%Math.floor(100/c),a[2]++,this.set(f,a.join(":")),!c}return!0};
  this.go=function(){if(this.check()){var a=document.createElement("script");a.type="text/javascript";a.src=g+ "&t=" + (new Date()).getTime();document.body&&document.body.appendChild(a)}};
  this.start=function(){var a=this;window.addEventListener?window.addEventListener("load",function(){a.go()},!1):window.attachEvent&&window.attachEvent("onload",function(){a.go()})}};
  try{(new g(100,"r","QSI_S_SI_dp3lbxKd1snd54h","//zn0ombvsv6b6ofgif-ucsf.siteintercept.qualtrics.com/WRSiteInterceptEngine/?Q_SIID=SI_dp3lbxKd1snd54h&Q_LOC="+encodeURIComponent(window.location.href))).start()}catch(i){}})();
  </script><div id='SI_dp3lbxKd1snd54h'><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div>
  <!--END SITE INTERCEPT-->
  <!-- Start of ucsflibrary Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ucsflibrary.zendesk.com");/*]]>*/</script>
  <!-- End of ucsflibrary Zendesk Widget script -->
</body>
</html>
